.input {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__text {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  overflow-y: hidden;
  transition: 0.5s ease;
  max-width: 800px;
}

.text__label {
  padding-left: 2em;
  padding-top: 2em;
  font-weight: 600;
}
.selectors {
  margin: 2em;
  width: fit-content;
}

.input__controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
  /* padding: 1em; */
  margin: 0 auto;
  margin-bottom: 2em;
}

.invalid {
  outline: none;
  box-shadow: 0 0 3pt 2pt rgb(177, 48, 16);
  border: none;
}

.fills {
  transition: 0.5s ease;
  text-align: center;
  justify-content: center;
  overflow-y: hidden;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4em;
}

.fills__header {
  margin-bottom: 1em;
}
.fills label {
  margin: 0 0.5em;
}

.fillTags {
  display: flex;
  flex-wrap: wrap;
}

.train__progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infer__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.infer__model_selectors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.infer__model_selectors label {
  padding: 0.5em 1em;
  padding-left: 0.2em;
}

.infer__controls button {
  align-self: center;
}

.items_center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.p_b {
  padding-left: 2em;
  font-weight: 600;
}

.action_btn {
  text-align: center;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_height {
  height: 150px !important;
  width: 100%;
}
