.result {
  padding: 2em 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

  .result > p, .result > span, .result > label {
    color: #FFFFFF; 
    font-weight: bold;
  }