* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  font-family: "Open Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 90%;
}

*::-webkit-scrollbar-track {
  background: #c1ecfa;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #0096c7;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0096c7;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:active {
  background: #037ea7;
  border-radius: 10px;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 20px;
  margin: 1em 0;
}

a {
  text-decoration: underline;
  font-weight: 300;
  font-size: 14px;
}

textarea {
  border-radius: 1em;
  border-color: rgb(199, 199, 199);
  margin: 0.5em 1em 1em 1em;
  resize: none;
  overflow: auto;
  padding: 1em;
  font-size: x-large;
  height: 200px;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 3pt 2pt rgb(100, 194, 237);
  border: none;
}

select {
  padding: 0.5em;
  font-size: 16px;
  border-radius: 0.5em;
}

input[type="radio"][name="fill"] {
  display: none;
}

input[type="radio"][name="fill"] + label {
  padding: 0.3em 1em;
  background-color: #313131;
  color: white;
  border-radius: 1em;
  transition: background-color 0.2s ease;
}

input[type="radio"][name="fill"]:checked + label {
  background-color: #0096c7;
}

input[type="radio"][name="fill"] + label:hover {
  cursor: pointer;
}

.bg-main { 
  /* The image used */
  /* background-image: url('./logos/ai_gifs1.gif'); */

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
}